@model dynamic

@{
    ViewBag.Title = "常用链接";
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.aColor = "black";
}

<style>
    .row {
        margin-top: 100px;
    }
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="list-group">
                <span class="list-group-item active">
                    .Net & C#
                        </span>
                <a href="https://mva.microsoft.com/" target="_blank" class="list-group-item">微软虚拟学院</a>
                <a href="https://dotnetcademy.net/" target="_blank" class="list-group-item">Learn new .NET skills in a fun and interactive way</a>
                <a href="https://www.talk-it.biz/csharp-course/" target="_blank" class="list-group-item">Talk IT</a>
                <a href="http://blog.developers.ba/" target="_blank" class="list-group-item">Zec's Blog</a>
                <a href="http://www.blackwasp.co.uk/Tutorials.aspx/" target="_blank" class="list-group-item">blackwasp</a>
                <a href="http://www.asp.net/" target="_blank" class="list-group-item">ASP.NET</a>
                <a href="http://dot.net/" target="_blank" class="list-group-item">Dot Net</a>
            </div>

        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="list-group">
                <span class="list-group-item active">
                            其他
                        </span>
                <a href="http://v3.bootcss.com/" target="_blank" class="list-group-item">Bootstrap</a>
                <a href="http://developer.xamarin.com/"target="_blank" class="list-group-item">Xamarin</a>
                <a href="https://www.typescriptlang.org/"target="_blank" class="list-group-item">TypeScript</a>
                <a href="https://angular.io/"target="_blank" class="list-group-item">Angular</a>
                <a href="https://refactoring.guru/"target="_blank" class="list-group-item">Refactoring</a>
                
                
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="list-group">
                <span class="list-group-item active">
                    Tools
                </span>
                <a href="https://resharper-support.jetbrains.com/hc/en-us/articles/207242355-Where-can-I-download-an-old-previous-ReSharper-version-" target="_blank" class="list-group-item">Get Resharper</a>
                <a href="https://dotnetfiddle.net/" target="_blank" class="list-group-item">Dot Net Fiddle</a>
                <a href="http://csharppad.com/" target="_blank" class="list-group-item">Csharp Pad</a>
                <a href="https://jsfiddle.net/" target="_blank" class="list-group-item">Javascript Fiddle</a>
                <a href="https://fanyi.baidu.com/" target="_blank" class="list-group-item">百度翻译</a>
                
            </div>

        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="list-group">
                <span class="list-group-item active">
                    娱乐
                </span>
                <a href="https://www.zhihu.com/question/23090574" target="_blank" class="list-group-item">去哪里海淘？</a>
                <a href="http://music.163.com/" target="_blank" class="list-group-item">网易云音乐</a>
                <a href="http://lol.qq.com/main.shtml" target="_blank" class="list-group-item">LOL</a>
                <a href="http://jandan.net/pic" target="_blank" class="list-group-item">煎蛋</a>
                <a href="http://www.youku.com/" target="_blank" class="list-group-item">优酷</a>
            </div>
        </div>
    </div>
</div>